body{
    color: #555555;
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11pt;
}
.page{
    width: 1200px;
    margin: 0px auto;
    position: relative;
    padding: 10px 0 0 0;
}
.selector{
    text-align: center;
}
.selector label{
    display: inline-block;
    margin: 0 5px;
}
.control{
    position: relative;
}
input[type="range"]{
    width: 400px;
    width: calc(100% - 5px);
    box-sizing: border-box;
}
input[type="number"]{
    padding: 5px 5px;
    border: 1px solid #DDDDDD;
    width: 100%;
    box-sizing: border-box;
}
.label{
    padding: 4px 0px;
}

.row {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.control-wrapper {
    position: relative;
    padding: 8px 12px 12px 12px;
    box-sizing: border-box;
    margin-bottom: 12px;
    border-radius: 3px;
    background-color: #F4F4F4;
}
.two-col .control-wrapper{
    width: 48%;
}
.three-col .control-wrapper{
    width: 32%;
}
