body{
    font-family: sans-serif;
    font-size:14px;
    margin: 0;
}
#display, .range-area{
    width: 1044px;
    margin: auto;
    padding: 20px 0;
}
input[type='range'] {
    width: 1044px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    outline: none;
}
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: none;
}
input[type='range']::-webkit-slider-runnable-track {
    width: 1044px;
    height: 1px;
    background: #003D7C;
}

input[type='range']:nth-child(2)::-webkit-slider-runnable-track{
    background: none;
}

input[type='range']::-webkit-slider-thumb {
    position: relative;
    height: 15px;
    width: 15px;
    margin-top: -7px;
    background: #fff;
    border: 1px solid #003D7C;
    border-radius: 25px;
    z-index: 1;
}

input[type='range']:nth-child(1)::-webkit-slider-thumb{
    z-index: 2;
}

.rangeslider{
    position: relative;
    height: 60px;
    width: 1044px;
    display: inline-block;
    margin-top: -5px;
    margin-left: 0px;
}

.rangeslider input{
    position: absolute;
}

.rangeslider{
    position: absolute;
}

.rangeslider span{
    position: absolute;
    margin-top: 30px;
    left: 10px;
}

.rangeslider .right{
    position: relative;
    float: right;
    margin-right: 20px;
}


/* Proof of concept for Firefox */
@-moz-document url-prefix() {
.rangeslider::before{
    content:'';
    width:calc(100% - 20px);
    left: 10px;
    height:2px;
    background: #003D7C;
    display:block;
    position: relative;
    top:16px;
}

input[type='range']:nth-child(1){
    position:absolute;
    top:35px !important;
    overflow:visible !important;
    height:0;
}

input[type='range']:nth-child(2){
    position:absolute;
    top:35px !important;
    overflow:visible !important;
    height:0;
}
input[type='range']::-moz-range-thumb {
    position: relative;
    height: 15px;
    width: 15px;
    margin-top: -7px;
    background: #fff;
    border: 1px solid #003D7C;
    border-radius: 25px;
    z-index: 1;
}

input[type='range']:nth-child(1)::-moz-range-thumb {
    transform: translateY(-20px);    
}
input[type='range']:nth-child(2)::-moz-range-thumb {
    transform: translateY(-20px);    
}
}
